@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
	background-color: black;
	font-family: 'Roboto', sans-serif;
}
h1,p{
	color: #10fb10;
	text-align: center;
}

p{
	font-size: 22px;
}
.container{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-control:focus {
   
    border-color: #fff;

    box-shadow: 0 0 0 0.2rem rgb(16 251 12);
}
.btn-custom{
	    color: #fff;
	    background: red;
	    font-weight: 700;
	    display: block;
	    width: 150px;
	    height: 50px;
	    margin: auto;
	    border-radius: 0;
	    margin-top: 15px;
}

.btn-custom:hover{
	   
	    background: transparent;
	    color: #fff;
	   
}

